/*La función minmax() en CSS define un rango de tamaño mayor o 
igual que min y menor o igual que max. Se emplea con rejillas CSS*/

body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 800px;
    height: 800px;
    margin: 200px auto;
    background: rgb(223, 223, 223);
    box-shadow: 0 6px 20px gray;
    display: grid;
    /*grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
    grid-template-rows: minmax(200px, auto);*/
    /*grid-template: minmax(100px, auto) minmax(100px 1fr) / minmax(200px, 1fr) minmax(200px, 1fr);*/
    grid-template-columns: minmax(200px, 1fr) auto minmax(200px, 1fr);
}

/*Supongamos que tienes una cadrícula con 3 columnas, y quieres 
que la primera y la tercera columna tengan un ancho mínimo de 
100 pixeles y un ancho maximo de 1fr, mientras que la segunda 
columna debe ajustarse automáticamente al contenido. Puedes 
lograr esto utilizando minmax() de la siguiente manera:*/

.box{
    color: white;
    font-size: 1.5rem;
    text-align: center;
}